body{
    margin: 0;
}
#top-bar {
    font-family: extrude;
}
@font-face{
    font-family: 'extrude';
    src: url(Fonts/Extrude-90aK.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'mexcellent';
    src: url(Fonts/mexcellent\ rg.otf);
}
@font-face {
    font-family: handwriting;
    src: url(Fonts/Handwriting-Regular.otf);
    font-weight: 500;
}
html { 
    background: url(work.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: pixelated; 
    image-rendering: -moz-crisp-edges; 
    image-rendering: crisp-edges;
  }
p{
    font-family: handwriting;
    font-size: 35px;
}
header{

    margin: 0;
}
#normal{
    color: rgb(177, 146, 165) !important;
}

.name{
    font-weight: normal;
    clear: both;
    margin: auto;
    color: rgb(217, 203, 212);
    text-align: center;
    font-size: 40px;
}
.top-nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    margin-top: -70px;
    
}
.top-nav ul li{
    margin-right: 130px;
    font-size: 26px;
    flex-shrink: 1 1 50em;
}
.top-nav ul li a:visited{
    text-decoration: none;
    color: rgb(155, 92, 159);
}
.top-nav ul li a:active{
    text-decoration: none;
    color: rgb(155, 92, 159);
}
.top-nav ul li a:hover{
    text-decoration: none;
    color: rgb(124, 69, 128);
}
.col{
    float: left;
}
.center{
 
    display: block;
    margin: auto;
    max-width: 30%;
    max-width: 400px;
    
    
}
#mutebtn{
    background:url(Buttons/play.png) no-repeat;
    border: none;
    width: 46px;
    height: 32px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    outline: none;
}
#playpausebtn{
    background:url(Buttons/on.png) no-repeat;
    border: none;
    width: 46px;
    height: 32px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    outline: none;
}
#panel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#main-panel{
    background: rgba(217, 203, 212, 0.95);
    /* width: 60vw;
    height: 30vw; */
    /* width: 800px; */
    width: 50%;
    /* height: 700px; */
    bottom: 10px;
    /* top: 90px; */
    /* height: 60%; */
    /* position: fixed; */

    height: 600px;
    padding: 30px 30px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    text-align: center;
    margin: auto;
    border: double 13px;
    /* max-height: 800px; */
    /* padding-bottom: 15% */
    font-size: 20px;
}
.top-container nav ul li{
    list-style-type: none;
    margin-top: 10px;
    font-size: 28px;
    font-family: handwriting;
    cursor: pointer;
}
.sub-nav {
    font-size: 20px !important;
    list-style-type: disc !important;
}
.top-container a {
    color: black;
}
.top-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: mexcellent;
}

.sub-header {
    font-size: 35px;
    color: rgb(46, 88, 119);
    margin-top: 50px;
}
.itch{
    width: 100px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 100vw;
    margin-block: .5em;
    margin-inline: 1em;
}
::-webkit-scrollbar-thumb {
    background: rgba(31, 30, 45, .5);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(17, 16, 24, 0.5);
}
.sample-web-header {
    font-size: 25px;
    font-family: mexcellent;
    margin-top: 70px;
}
.pianobook{
    width: 200px;
}
.top{
    position: absolute;
    margin-top: -30px;
    margin-left: -20px;
}
.top a{
    color: white;
    text-decoration: none;
}
.top a:visited{
    color: white;
    text-decoration: none;
}
#download-star {
    font-size: 37px;
    color: rgb(46, 88, 119);
}
#download-star:hover{
    text-shadow: 2px 2px rgb(160, 39, 45);
}
#github{
    width: 20%;
    height: 20%;
}
#credits{
    font-size: 23px;
}